<app-navbar></app-navbar>

<main>
  <app-navbar></app-navbar>
  
  <app-hero id="inicio"></app-hero>
  <app-servicios id="servicios"></app-servicios>
  <app-trabajos id="trabajos"></app-trabajos>
  <app-instagram id="reels"></app-instagram> 
  <app-faq id="faq"></app-faq>
  <app-presupuesto id="presupuesto"></app-presupuesto>
  
  <app-footer></app-footer>
</main>

<a href="https://wa.me/5493571529100?text=Hola%20GO%20SACABOLLOS,%20quiero%20consultar%20por%20un%20turno."
   class="wpp-float" 
   target="_blank" 
   rel="noopener noreferrer">
  <i class="fa-brands fa-whatsapp"></i>
</a>